# Files and directories to ignore when publishing to npm

# source files
**/*.ts
!index.d.ts
**/*.map
**/*.tsbuildinfo

# tests
test/
tests/
__tests__/
*.test.*
*.spec.*

# docs and build tools
docs/
website/
CHANGELOG.md
CONTRIBUTING.md
ISSUE_TEMPLATE.md
PULL_REQUEST_TEMPLATE.md

# example app
example-vanillajs/
example-react/

# misc
*.log
.DS_Store
.github/

# parcel cache
.parcel-cache/

node_modules/

# ignore tgz files
*.tgz

# ignore service worker in the root
notifly-service-worker.js

# scripts
scripts/
